In [2]:
import requests
import json
import pandas as pd

In [4]:
test_res = requests.get("http://127.0.0.1:5000/")
test_res

In [5]:
#Get text from response object
test_res.text

'Hello World'

In [6]:
test_res = requests.get("http://127.0.0.1:5000/predict")
test_res

In [7]:
#Get text from response object
test_res.text

'The API works haha'

In [10]:
#Payload, sending through API to get prediction
body = [
    {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0}
]

In [11]:
json.dumps(body)#COnverts to a string

'[{"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}]'

In [12]:
pd.read_json(json.dumps(body))

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest
0,0,1,1,20,1,1,48

In [18]:
test_res = requests.get("http://127.0.0.1:5000/predict", json = json.dumps(body))
test_res

In [19]:
test_res.text

'{"prediction":[53.151682539682525]}\n'

In [20]:
test_res.json()

{'prediction': [53.151682539682525]}

In [24]:
test_df = pd.read_json(json.dumps(body))
test_df['prediction'] = test_res.json()['prediction']

In [25]:
test_df

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest,prediction
0,0,1,1,20,1,1,48,53.151683